@charset "UTF-8";
/* Configuração para Celular/*/

@media screen and (min-width: 300px) and (max-width: 480px){
 section{
    width: 90vw;
    height: 400px;
 }
   
}

/* Configuração para tablet*/

@media screen  and (min-width: 768px) and (max-width: 992px) {
    section{
        width: 80vw;
        height: 280px;
    }
    
}

@media screen and (min-width: 992px){
    section{
        width: 500px;
        height: 500px;
    }
}